version: 1.0.{build}
image: Visual Studio 2017
configuration: Debug,Release
build_script:
- cmd: >-
    git submodule update --init --recursive
     mkdir build & cd build & cmake -G "Visual Studio 15 2017 Win64" ../
artifacts:
- path: '*.zip'
  name: zip